<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input name="password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="fullname">Full name</label>
    <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label for="image">Avatar</label>
    <input name="image" type="text" class="form-control" id="image" placeholder="URL of you image">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">Username</label>
      <input name="username" type="text" class="form-control" id="username">
    </div>
    <div class="form-group col-md-4">
      <label for="rol">Rol</label>
      <select name"rol" id="rol" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="department">Department</label>
      <input name="department" type="text" class="form-control" id="department">
    </div>
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
</form>